body {
  font-family: "plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.text-muted {
  text-decoration: none;
  color: black;
}

.img-fluid {
  border-radius: 20px;
  padding: 10px;
}

.note-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f9fa;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.note-card button {
  background: none;
  border: none;
  font-size: 1.2em;
  color: #dc3545;
  cursor: pointer;
}

.welcome-box {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.btn-primary {
  width: 100%;
  font-weight: bold;
}

.logout {
  position: absolute;
  right: 20px;
  top: 15px;
}

.d-flex {
  position: relative;
  margin-top: 3rem;
}

.welcome-box{
  position: relative;
  margin-top: 20px;
}

.logout{
  position:fixed;
}

.google-btn {
  display: inline-flex;
  align-items: center;
  border: 1px solid #dcdcdc;
  border-radius: 24px;
  padding: 8px 16px;
  text-decoration: none;
  color: #555;
  background-color: #fff;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.google-btn:hover {
  background-color: #f7f7f7;
}

.google-icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
